.header {
  font-weight: 600;
  padding: 1.5em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header span {
  font-size: 34px;
  letter-spacing: 2px;
  font-weight: normal;
}
